<h1 class="Conversations-Heading">Inbox<i class="fa fa-envelope-open-o" aria-hidden="true"></i></h1>

<div class="Conversations-Header">
  <% @conversations.each do |conversation| %>
    <div class="Conversations-Email">
      <%= link_to conversation_path(conversation), :action => 'show', :style=>'color:#000000;' do %>
        <div class="Conversations-Index">
          <%= conversation.subject %>
          <em class="Conversations-Time">
            <%= time_of_conversation(conversation) %>
            <%= eastern_time_zone(conversation) %>
          </em>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New Conversation", new_conversation_path, class: "Conversations-New-Button" %>