<h1 class="Conversations-New-Heading">New Message</h1>

<div class="Conversations-Form">
  <%= form_tag conversations_path, method: :post do %>

    <div>
      <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :last_name), class: "Conversations-Select" %>
    </div>

    <div>
      <%= text_field_tag :subject, nil, placeholder: "Subject", class: "Conversations-Subject" %>
    </div>

    <div>
      <%= text_area_tag :body, nil, placeholder: "Body", class: "Conversations-Body" %>
    </div>

</div>

    <%= submit_tag "Send Message", class: "Conversations-New-Button" %>
  <% end %>