<h2 class="Conversations-Show-Heading"><%= @conversation.subject %></h2>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div class="Conversations-Show-Comment"><%= receipt.message.sender.name %> commented:</div>
  <div class="Conversations-Show-Box">
    <p class="Conversations-Show-Body"><%= receipt.message.body %></p>
  </div>
<% end %>

<%= form_tag conversation_comments_path(@conversation), method: :post do %>
  <div>
    <%= text_area_tag :body, nil, placeholder: "Reply", class: "Conversations-Show-Reply" %>
  </div>

  <%= submit_tag "Send Response", class: "Conversations-Show-Button" %>
<% end %>
